<nav class="site-header" role="banner">
  <div class="wrapper">
    <div class="site-header-container">
      <a class="site-title" rel="author" href="{{ "/" | relative_url }}">
        {%- if site.site_icon_text -%}
        {{ site.site_icon_text }}
        {%- else -%}
        {{ site.title }}
        {%- endif -%}
      </a>

      <div class="nav-items">
        <a href="/about/" class="nav-about">
          <div class="nav-about-dot"></div>
        </a>
      </div>
  
      

      <!-- <div class="nav-search">
        {% include search_bar.html %}
      </div> -->
    </div>
  </div>
</nav>