/**
 * projects
 */
.projects-section {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $grey-color;
    padding: 8px 0;

    @include dark-mode {
        color: $dark-color-darkmode;
        border-bottom: 1px solid $grey-color-darkmode;
    }

    .projects-title {
        font-size: 18px;
        font-weight: 700;
        margin: 0;
        padding: 0;
        line-height: 1;
        
        color: $dark-color;
    
        @include dark-mode {
            color: $dark-color-darkmode;
        }
    }

    .projects-fold {
        background-color: transparent;
        border: none;
        cursor: pointer;
        transition: transform .5s;

        path {
            fill: $dark-color;

            @include dark-mode {
                fill: $dark-color-darkmode
            }
        }
    }

    .projects-fold.rotate {
        transform: rotate(90deg);
        transform-origin: center;
    }
}

.projects-list-container {
    height: 0;
    transition: height 0.5s ease-in;
    overflow: hidden;

    @include media-query($on-palm) {
        transition: height 1s;
    }
}

.projects-list {
    display: flex; 
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0px;
    margin-top: 16px;
    margin-bottom: 48px;
    column-gap: 20px;
    row-gap: 20px;

    @include media-query($on-palm) {
        column-gap: 0px;
    }

    min-height: 90vh;
  
    .list-item {
        margin: 0px;
        width: calc(50% - 10px);
        position: relative;
        overflow: hidden;

        @include media-query($on-palm) {
            width: 100%;
        }
    }

    .image-wrapper {

        width: 100%;

        img {
            height: 118px;
            width: 100%;
            object-fit: cover;
            border-top-left-radius: 18px;
            border-top-right-radius: 18px;

            @include media-query($on-palm) {
                height: 108px;
            }
        }

        a {
            width: 100%;
            position: relative;
            display: block;
        }
    }

    .project-description {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 15px 15px 10px 15px;
        color: $white-color;
        overflow: hidden;
        font-size: 13px;
        line-height: 1.5;
        visibility: hidden;
        opacity: 0;
        background-color: #00000012;
        background: rgba(0,0,0, 0.2);
        background: linear-gradient(0deg, rgba(0,0,0,0.5) 10%, rgba(0,0,0,0) 100%);
        transition:visibility 0.3s linear,opacity 0.3s linear;
    }

    .list-item:hover .project-description {
        visibility: visible;
        opacity: 1;
    }

    .project-link {
        font-size: 14px;
        padding: 12px 18px;
        font-weight: 500;
        width: 100%;
        
        a {
            color: $dark-color;
            display: block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            width: 100%;
            word-break: break-all;
        }

        a:hover {
            color: $dark-color;
            text-decoration: none;
        }
    
        .project-link-meta {
            display: flex;
            justify-content: space-between;
            color: $grey-dark-color;
            margin: 2px 0px 0px 0px;
            font-size: 14px;
            font-weight: 650;

            .project-link-meta-visit {
                display: flex;
                align-items: center;

                img {
                    height: 16px;
                }

                span {
                    margin-left: 4px;
                    line-height: normal;
                }
            }
        }
    }

    @include media-query($on-palm) {
        .project-header {
            padding-bottom: 5px;
        }

        .project-description {
            display: none;
        }
    }

    p {
        margin: 0px;
    }
}